In [2]:
import pandas as pd
import json
import re
orders = pd.read_csv('orders.csv')
users = pd.read_json('users.json')

with open('restaurants.sql', 'r') as f:
    sql_content = f.read()
pattern = r"INSERT INTO restaurants VALUES \((.*)\);"
matches = re.findall(pattern, sql_content)
res_data = [eval(f"({m})") for m in matches]
restaurants = pd.DataFrame(res_data, columns=['restaurant_id', 'restaurant_name_sql', 'cuisine', 'rating'])
df = orders.merge(users, on='user_id', how='left')
df = df.merge(restaurants[['restaurant_id', 'cuisine', 'rating']], on='restaurant_id', how='left')
df.to_csv('final_food_delivery_dataset.csv', index=False)
print("--- PREVIEW OF FINAL DATA ---")
display(df.head())

print("\n--- QUICK ANSWERS ---")
print(f"Total Orders: {len(df)}")
print(f"Total Revenue: {df['total_amount'].sum():.2f}")
print(f"Top City (Gold Members): {df[df['membership'] == 'Gold'].groupby('city')['total_amount'].sum().idxmax()}")

--- PREVIEW OF FINAL DATA ---

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name,name,city,membership,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Italian,3.0

--- QUICK ANSWERS ---
Total Orders: 10000
Total Revenue: 8011624.12
Top City (Gold Members): Chennai